<div class="grid place-items-center">
  <div class="bg-blue-700 p-[9px] shadow-md hover:shadow-xl transition:eas-in duration-500 rounded-sm">
    <div class="bg-white p-12">
      <%= form_with(url: customer_address_update_path) do |form| %>
        <%= form.label :address, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white"  %>
        <%= form.text_area :address, value: current_user.address, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 md:w-96" %>
        <%= form.submit "Save", class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 hover:cursor-pointer my-4" %>
      <% end %>
    </div>
  </div>
</div>

