<div class="grid place-items-end px-[60px]"><%= link_to "Back", orders_path, class:"text-blue-700 hover:text-blue-900" %></div>

<div class="grid place-items-center" id="admin_orders_delivered">
  <%= render "admin_orders_delivered" %>
</div>